*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-navegation{
    
    display: flex;
    justify-content: space-between;
    
    border: 1px solid black;
    height: 110px;
    background-color: aquamarine;
}
li{
    display: inline-block;
    padding: 5px;
    align-items: end;


}
.alto{
    padding-top: 0px;
}
img{
    height: 100px;
}
