*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main__sidebar{
    width: 240px;
    border: 1px solid red;
    height: 200px;
    display: inline-block;
}
.main__principal{
    width: 600px;
    border: 1px solid purple;
    height: 200px;
    display: inline-block;
}

.navbar__list-item{
    display: inline-block;
    margin-right: 10px;
    
}
.navbar__list{
    list-style: none; 
    /* desaparecer las binetas de una lista */
    text-align: center;
}